*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
@font-face {
    font-family: 'myArabicFont';
    src: url('../webfonts/Droid.ttf');
    font-weight: normal;
    font-style: normal;
  }
body{
    direction: rtl;
    font-family: 'myArabicFont';
}
/* start product */
.container{
    width: 80%;
    margin: auto;
}
.title{
    padding: 20px;
    margin-top: 50px;
}
.title h1{
    text-align: center;
    font-size: 40px;
}
h1::after{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background-color: black;
    right: 46%;
    position: absolute;
}
.search{
    text-align: center;
    margin-top: 30px;
}
.search input{
    width: 50%;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid tomato;
    outline: none;
}
.product-contant{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}
.product-info{
   padding: 15px;
   border-radius: 10px;
   
}
.product-info img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-info h2{
    padding: 10px;
}
.product-info h5{
    color: #555;
    margin-bottom: 20px;
}
.product-info p {
    font-weight: 600;
    margin-bottom: 10px;
}
.order{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-info button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
    border: 1px solid #000;
    background: transparent;
    font-size: 20px;
    border-radius: 10px;
}
.product-info button:hover{
    background-color: tomato;
    color: #fff;
    border: none;
}
.rate i{
    cursor: pointer;
}
.rate i:hover{
    color: gold;
}
