* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
   background: url("../images/regsteration-image/photo-1551934262-db2d7dd517f4.avif");
    background-position: center center;
    background-size: cover;
    direction: rtl;
    font-family: 'myArabicFont'; 
}
@font-face {
    font-family: 'myArabicFont';
    src: url('../webfonts/Droid.ttf');
    font-weight: normal;
    font-style: normal;
  }

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.form-container {
    display: flex;
    margin: 40px auto;
    box-shadow: 2px 10px 40px rgba(22, 20, 19, 0.4);
    height: 75vh;

}

.sign-greeting {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.sign-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 200px;
    flex-basis: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.sign-form h2 {
    margin-bottom: 20px;
    color: #fff;
}

.sign-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: centers;
}

.sign-form form input {
    padding: 15px 30px;
    border-radius: 6px;
    border: 1px solid #DDD;
    font-weight: 500;
    width: 350px;
    margin-bottom: 20px;
}

.sign-form form input::placeholder {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    font-family: 'myArabicFont';
}

.sign-form form a {
    font-size: 14px;
    border-bottom: 1px solid #EEE;
    color: #fff;
}

.sign-form form a:hover {
    color: #f54ea2;
}

.sign-form form button {
    width: 350px;
    padding: 15px 30px;
    background-color: transparent;
    border: 1px solid #5f5f6b;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    font-family: 500;
    margin-top: 40px;
    cursor: pointer;
    font-family: 'myArabicFont';
}
.sign-form form button:hover{
    color: #fff;
    background-color: rgb(87, 143, 101);
    border: none;
}