/* global */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Poppins:wght@500;600&display=swap');



@font-face {
  font-family: 'myArabicFont';
  src: url('./assets/webfonts/Droid.ttf');
  font-weight: normal;
  font-style: normal;
}
:root {
  font-size: 16px;
    --font-global: 'myArabicFont';
    --primary-pink-background-color: #a96f90;
    --primary-purple-background-color: #B59DFF;
    --body-background-color:  #ffffff;
    --secondary-purple-background-color:#dcd3f7;
    --secondary-pink-background-color:#8c5c78;;
    --yellow-color: rgb(243, 247, 122);
    --blue-color:#B3D9FF;
    --black-font-color: #000000;
    --gray-font-color: #1514147e;
}

* {
    font-family: var(--font-global);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
}
body{
    background: var(--body-background-color);
}
ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

section{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.primary_btn {
    font-weight: 500;
    font-size: 1rem;
    line-height: 28px;
    border-radius: 0.5rem;
border: 1px solid var(--gray-btn-color);
    padding: 0.6rem 3rem;
    color: var(--black-font-color);
    background-color:var(--yellow-color);
  }
  .primary_btn:hover
  {
    cursor: pointer;
  background: var(--primary-pink-background-color );
  color: var(--body-background-color);
}
.secondary_btn{
  font-weight: 500;
    font-size: 1rem;
    line-height: 28px;
    border-radius: 0.5rem;
border: 1px solid var(--yellow-color);
    padding: 0.6rem 3rem;
    color: var(--body-background-color);
}
h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 74px;
    color: #ffffff;
}
h2 {
  font-weight: 700;
    font-size: 3rem;
    margin-bottom: 7rem;
    color: var(--black-font-color);
  }
h3{
  font-weight: 700;
    font-size: 2.25rem;
}
h4{
  font-weight: 600;
    font-size: 2rem;
}
h5{
  font-weight: 600;
    font-size: 1.75rem;
}
h6{
  font-weight: 600;
    font-size: 1.5rem;
}
.label{
    font-weight: 500;
      font-size: 1.125rem;
}
p{
  font-weight: 500;
    font-size: 1rem;
}
.cont{
  display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}