/* ***********************header************************ */
header{
    position: relative;
}
.header__background-img{
    background: url(../assets/images/header_pic.jpg);
    height: 100vh;
    /* filter: blur(3px); */
    background-position:center center;
    background-size:contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.header__background-color{
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
}
.header__content{
  width: 50%;
  margin: 5rem 15rem;
    position: absolute;
    top:13rem;
    right:5rem;
}
.header__content p{
    padding: 1rem 0;
    color: #ffffffb1;
}
.header__btn img{
width: 25%;
}
/* svg style */
.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 0;
    direction: rtl;
}
.elementor-shape-bottom {
    bottom: -10px;
}
.elementor-shape[data-negative=false].elementor-shape-bottom, .elementor-shape[data-negative=true].elementor-shape-top {
    transform: rotate(180deg);
}
 header svg{
    fill: var(--body-background-color);
}