/* ***********************************navigation************************* */
nav {
    font-size:1rem;
    font-weight:700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
    transition: all 0.5s ease-in-out;
    margin-top: 0;
    padding-top: 0;
    }
    .navbar-brand{
    width: 5%;
    border-radius: 100%;
    
    
    }
    .navbar-brand span{
      font-family: custom;
    width: fit-content;}
    .navbar-brand img {
      width: 100%;
    }
    
    .nav-item {
        padding-right:1rem;
        margin: 0 10px;
    
        color: var(--body-background-color);
      }
      .items__btn{
        margin: 0;
      }
      
      .active__nav {
      color: #dfbed1;
      font-size:larger;
    }
    
    /* change background to white on scroll */
    .scroll {
      background-color:var(--secondary-pink-background-color);
    }
    
    